#player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    border: 1px solid black;
    background-color: grey;
}

input {
    border-width: 0 0 2px 0;
    border-color: black;
    background-color: rgba(255, 255, 255, 0);
}

#yt-player {
    /* display: none; */
    display: block;
    margin: auto auto;
}

#pause-button {
    display: none;
}

#controls {
    text-align: center;
    border-radius: 25%;
}

.big-font {
    font-size: 24px;
}

.center{
    margin: auto auto;
    text-align: center;
}

.transparent-bg {
    background-color: rgba(0, 0, 0, 0);
}