body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.big-fa {
    font-size: 24px;
}

.vertical-offset {
  padding-top: 20px;
}