/* TODO: Rename this file to make it more clear */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.center{
    margin: auto auto;
    text-align: center;
}

.hide {
    display: none;
}

.big-fa {
    font-size: 24px;
}

.vertical-offset {
  padding-top: 20px;
}

.relative-position {
  position: relative;
}